<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146468970-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146468970-1');
</script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <link rel="stylesheet" href="sass/css/icon-font.css">
        <link rel="stylesheet" href="sass/css/linea.css">
        <link rel="stylesheet" href="sass/css/style.css">
        
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Gallery</title>
    </head>
 <body>
     
 
    <section class="pic_18">
        <div class="centre_text"><h1 class="heading-secondary core_heading">Gallery of 2018</h1></div>
<div class="row core_row">
       
   <div class="col-1-of-3 core_card ">
       <div class="square-box-exbo ze1"></div>
   </div>  
   
   <div class="col-1-of-3 core_card ">
    <div class="square-box-exbo ze2"></div>
</div>
<div class="col-1-of-3 core_card ">
    <div class="square-box-exbo ze6"></div>
</div>
</div>  
<div class="row core_row">
       
    <div class="col-1-of-3 core_card ">
        <div class="square-box-exbo ze3"></div>
    </div>  
    
    <div class="col-1-of-3 core_card ">
     <div class="square-box-exbo ze4"></div>
 </div>
 <div class="col-1-of-3 core_card ">
    <div class="square-box-exbo ze5"></div>
</div>
 </div>
</section>