<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/attendance.css" >
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="container">
      <h1>Attendance</h1>
      <form action="/submit" method="POST">
        <ol>
          <li class="member">
            Payas Jain 
            <label for="present">Present</label>
            <input id="present"type="radio" name="payas" value="1">
            <label for="absent">Absent</label>
            <input id="absent"type="radio" name="payas" value="0">
          </li>
          <li class="member">
            Sushant Mahajan 
            <label for="present">Present</label>
            <input id="present"type="radio" name="sushant" value="1">
            <label for="absent">Absent</label>
            <input id="absent"type="radio" name="sushant" value="0">
          </li>
          <li class="member">
            Saksham Jain
            <label for="present">Present</label>
            <input id="present"type="radio" name="saksham" value ="1">
            <label for="absent">Absent</label>
            <input id="absent"type="radio" name="saksham" value="0">
          </li>
        </ol>
        <button>Submit</button>
      </form>
      <form action="/edit" method="GET">
        <button>Edit</button>
      </form>
      <form action="/view" method="GET">
        <button>View Attendance</button>
      </form>
      
    </div>

   
  </body>
</html>
