<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/attendance.css" >
  </head>
  <body>
    <div id="container">
      <h1>Attendance</h1>
      <form action="/submit" method="POST">
        <ol>
          <li class="member">
            Payas Jain 
            <label for="present">Present</label>
            <input id="present"type="radio" name="payas" value="Present">
            <label for="absent">Absent</label>
            <input id="absent"type="radio" name="payas" value="Absent">
          </li>
          <li class="member">
            Sushant Mahajan 
            <label for="present">Present</label>
            <input id="present"type="radio" name="sushant" value="Present">
            <label for="absent">Absent</label>
            <input id="absent"type="radio" name="sushant" value="Absent">
          </li>
          <li class="member">
            Saksham Jain
            <label for="present">Present</label>
            <input id="present"type="radio" name="saksham" value ="Present">
            <label for="absent">Absent</label>
            <input id="absent"type="radio" name="saksham" value="Absent">
          </li>
        </ol>
        <button>Submit</button>
      </form>
      <form action="/edit" method="GET">
        <button>Edit</button>
      </form>
      <form action="/view" method="GET">
        <button>View Attendance</button>
      </form>
      
    </div>

   
  </body>
</html>
