<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Manager</title>
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="/css/attendance.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
=======
    <link rel="stylesheet" type="text/css" href="/css/attendance.css" >
>>>>>>> 0f680196d918b2d4ba859715731d795b0315e293
  </head>
  <body>
    <div id="container">
      <h1>Attendance</h1>
      <form action="/submit" method="POST">
        <ol>
          <li class="member">
            Payas Jain

            <label for="present">Present</label>
            <input id="present" type="radio" name="payas" value="Present" />

            <label for="absent">Absent</label>
            <input id="absent" type="radio" name="payas" value="Absent" />
          </li>
          <li class="member">
            Sushant Mahajan
            <label for="present">Present</label>
            <input id="present" type="radio" name="sushant" value="Present" />
            <label for="absent">Absent</label>
            <input id="absent" type="radio" name="sushant" value="Absent" />
          </li>
          <li class="member">
            Saksham Jain
            <label for="present">Present</label>
            <input id="present" type="radio" name="saksham" value="Present" />
            <label for="absent">Absent</label>
            <input id="absent" type="radio" name="saksham" value="Absent" />
          </li>
        </ol>
        <button>Submit</button>
      </form>
      <form action="/edit" method="GET">
        <button>Edit</button>
      </form>
      <form action="/view" method="GET">
        <button>View Attendance</button>
      </form>
    </div>
  </body>
</html>
