<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146468970-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146468970-1');
</script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="sass/css/icon-font.css">
        <link rel="stylesheet" href="sass/css/linea.css">
        <link rel="stylesheet" href="sass/css/style.css">
        
        <link rel="stylesheet" href="TFF.html">
        <link rel="shortcut icon" type="image/png" href="sass/img/favicon.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Events</title>
    </head>
    <body>
        <section class="events">
<div class="events_img1">
    <div class="row events_header">
        <div><h3 class="eventos" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">OUR EVENTS</h3>
        <h1 class="events_header-heading">HELLO! WELCOME TO OUR EVENTS </h1>
        <h4 class="events_header-heading-small">The Biggest Food Fest Of North India</h4></div>
    </div>
</div>
<div class="events_img2">
    <div class="row">
        <div class="col-1-of-3 core_card  events_picture1">
                <div class="square-box-exbo events_pic md1 "></div>
        </div>
        <div class="col-1-of-2">
            <div class=" events_heading">EXCHANGE FOR A CHANGE</div>
            <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
            <p class=" events_paragraph">Thapar Food Festival has taken an initiative to make 'Plastic Waste Problem' a thing of the past. Starting on 13th August, under this campaign, people will be taking up plegde to recycle all their plastic waste instead of throwing it away.
                As a push, all those who want to join us in the campaign are invited to become a part of it by bringing an empty recyclable plastic bottle to us at COS Complex starting from 13th August, and getting free food deal coupons in exchange.</p>
        </div>
    </div>
</div>
<div class="events_img3">
        <div class="row">
            <div class="col-1-of-3 core_card  events_picture1">
                    <div class="square-box-exbo events_pic md2 "></div>
            </div>
            <div class="col-1-of-2">
                <div class=" events_heading">ORIENTATION</div>
                <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
                <p class=" events_paragraph">Life can be quite boring if laughter is missing and laughter comes with humour. And hence humour is a basic necessity of life just like food. And comedy along with food i.e. two necessities altogether is a deadly combo. So we bring to you an evening 'food comedy' with some best comedy stars of canvas laugh club, that will make you laugh hard and kick out all your stress and we will surely kick out your snack hunger.</p>
            </div>
        </div>
    </div>
    <div class="events_img4">
            <div class="row">
                <div class="col-1-of-3 core_card  events_picture1">
                        <div class="square-box-exbo events_pic md3 "></div>
                </div>
                <div class="col-1-of-2">
                    <div class=" events_heading">COOK OFF</div>
                    <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
                    <p class=" events_paragraph">Thapar Food Festival announces it’s ever so long awaited and unexcelled event, Dine Out  in collaboration with Restaurants names. This is your opportunity to get dazzled in more ways than one with all the new people you have met at college! An unforgettable spectacle with unlimited free foods is guaranteed to leave a lasting impression on all who are lucky enough to get passes! Accept no Limitations!
                            #ThaparFoodFestival</p>
                </div>
            </div>
        </div>
        <div class="events_img5">
                <div class="row">
                    <div class="col-1-of-3 core_card  events_picture1">
                            <div class="square-box-exbo events_pic md4 "></div>
                    </div>
                    <div class="col-1-of-2">
                        <div class=" events_heading">MOVIE EVE</div>
                        <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
                        <p class=" events_paragraph">Its a great saying that fruits are a pleasure that you can plead for. Sweet, salty, sour-these are only some handpicked of versatile flavours fruits offer. To make you experience this delicious infinity, Thapar Food Festival has come up with The Fruit Festival. An event comprising of endless lines of colourful,  attractive and tasty fruits from around the globe, presented in form of carefully created dishes that you can never imagine. So, come and let the foodie in you find heaven at this delectable festival.</p>
                    </div>
                </div>
            </div>
            <div class="events_img6">
                    <div class="row">
                        <div class="col-1-of-3 core_card  events_picture1">
                                <div class="square-box-exbo events_pic md5 "></div>
                        </div>
                        <div class="col-1-of-2">
                            <div class=" events_heading">COKE NAAL GERA</div>
                            <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
                            <p class=" events_paragraph">Thapar Food Festival announces it’s ever so long awaited and unexcelled event, Dine Out  in collaboration with Restaurants names. This is your opportunity to get dazzled in more ways than one with all the new people you have met at college! An unforgettable spectacle with unlimited free foods is guaranteed to leave a lasting impression on all who are lucky enough to get passes! Accept no Limitations! </p>
                        </div>
                    </div>
                </div>
                    <div class="events_img8">
                            <div class="row">
                                <div class="col-1-of-3 core_card  events_picture1">
                                        <div class="square-box-exbo events_pic md6 "></div>
                                </div>
                                <div class="col-1-of-2">
                                    <div class=" events_heading">MAN VS FOOD</div>
                                    <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
                                    <p class=" events_paragraph">For every foodie around, it's time to show your obsession with food , it's time to push your appetite ! Because this time it's not Big; it's huge ! Thapar Food Fest 2019 Presents most anticipated event awaited by every voracious eater ! MAN Vs FOOD. Prove your competence , Come to fight against food , Come to take up a challenge ! 
                                            Desire  , Compete , Win lots of grand prizes </p>
                                </div>
                            </div>
                        </div>
                        <div class="events_img9">
                                <div class="row">
                                    <div class="col-1-of-3 core_card  events_picture1">
                                            <div class="square-box-exbo events_pic md7 "></div>
                                    </div>
                                    <div class="col-1-of-2">
                                        <div class=" events_heading">INDUSTRIAL TOUR</div>
                                        <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
                                        <p class=" events_paragraph">Life can be quite boring if laughter is missing and laughter comes with humour. And hence humour is a basic necessity of life just like food. And comedy along with food i.e. two necessities altogether is a deadly combo. So we bring to you an evening 'food comedy' with some best comedy stars of canvas laugh club, that will make you laugh hard and kick out all your stress and we will surely kick out your snack hunger. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="events_img7">
                                    <div class="row">
                                        <div class="col-1-of-3 core_card  events_picture1">
                                                <div class="square-box-exbo events_pic md8 "></div>
                                        </div>
                                        <div class="col-1-of-2">
                                            <div class=" events_heading">MAIN DAY</div>
                                            <!-- <h3 class=" events_heading-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3> -->
                                            <p class=" events_paragraph">Missing local food ?Ever been mesmirized by the concept of food trucks. So here's a surprise for all you food lovers  , presenting Food Truck , the next event of TFF '19 where hot and lip smacking food prepared in food trucks will be served to all food enthusiasts </p>
                                        </div>
                                    </div>
                                </div>
                                                                            
        </section>
    </body>