<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

<div class="bg-contact100" style="background-image: url('images/bg-01.jpg');">
	
		<div class="container-contact100">
			<div class="wrap-contact100">
		<!-- <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div> -->
				<div class="image">
				</div>
				<div class="wrap-contact100">
					<div class="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
						<span class="contact100-form-title-1">
							Recruitment form
						</span>

						<span class="contact100-form-title-2">
							Welcome To TFF
						</span>
					</div>

					<form class="contact100-form validate-form" action="/recsubmit" method="POST" id="recruit_form">
						<div class="wrap-input100 validate-input" data-validate="Name is required">
							<span class="label-input100">Thapar aapko kis naam se jaanta hai?
							</span>
							<input class="input100" type="text" name="data[name]" id="name" placeholder="Enter full name">
							<span class="focus-input100"></span>
							
						</div>

						<div class="wrap-input100 validate-input" >
							<span class="label-input100">Dear</span>
							<br>
							<!-- <input class="input100" type="text" name="data[email]" placeholder="Enter email addess"> -->
							<label for="male" class="radio100" >Male</label>
							<input id="male"  type="radio" name="data[gender]" id="gender" value="Male" />
							<label for="female" class="radio100" >Female</label>
							<input id="female"  type="radio" name="data[gender]" id="gender" value="Female" />
							<span class="focus-input100"></span>
							

						</div>
						<!-- <% if(errors['data.email']){%>
							<%=errors['data.email'].msg%>
						<%}%> -->
						<div class="wrap-input100 validate-input" data-validate="Roll No is required">
							<span class="label-input100">Proxy kis number pe lagvate ho?</span>
							<input class="input100" type="text" name="data[roll]" id="roll" placeholder="Enter Roll Number">
							<span class="focus-input100"></span>
							
						</div>
						<div class="wrap-input100 validate-input" data-validate="Name is required">
							<span class="label-input100">विशेषज्ञता kisme paa rhe ho?</span>
							<input class="input100" type="text" name="data[branch]" id ="branch" placeholder="Enter Branch">
							<span class="focus-input100"></span>
							
						</div>
						<div class="wrap-input100 validate-input" data-validate="CG is required">
							<span class="label-input100">अभियांत्रिकी में क्या grade चल रहा है?</span>
							<input class="input100" type="text" name="data[CG]" id="CG" placeholder="Enter CG">
							<span class="focus-input100"></span>
							
						</div>
						<div class="wrap-input100 validate-input" data-validate="Phone is required">
							<span class="label-input100">Aapko khushkhabri kis number pe sunayein?</span>
							<input class="input100" type="text" name="data[phone]" id="phone" placeholder="Enter phone number">
							<span class="focus-input100"></span>
						</div>
						<div class="errors">
							<% if(errors['data.phone']){%>
								<%=errors['data.phone'].msg%>
							<%}%>
						</div>
						<div class="wrap-input100 validate-input" data-validate="Required">
							<span class="label-input100">Kahan ke rehne vaale ho?</span>
							<input class="input100" type="text" name="data[place]" id="place" placeholder="Enter City">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input" data-validate="Required">
							<span class="label-input100">How much time can you devote for TFF?</span>
							<input class="input100" type="text" name="data[timeDevote]" id="timeDevote" placeholder="Enter time you can devote">
							<span class="focus-input100"></span>
							
						</div>
						<div class="wrap-input100 validate-input" data-validate="Required">
							<span class="label-input100">What societies have you been a part of?</span>
							<input class="input100" type="text" name="data[otherSocities]" id="otherSocities"placeholder="Enter Socities">
							<span class="focus-input100"></span>
							
						</div>
						<div class="wrap-input100 validate-input" data-validate="Required">
							<span class="label-input100">How do you like spending your free time?</span>
							<input class="input100" type="text" name="data[Hobbies]" id="Hobbies" placeholder="Enter Your Hobbies!">
							<span class="focus-input100"></span>
							
						</div>
						<div class="wrap-input100 validate-input" data-validate="Required">
							<span class="label-input100">When I make/eat ____, I always add ____ to make it taste even better.</span>
							<input class="input100" type="text" name="data[food]" id="food" placeholder="">
							<span class="focus-input100"></span>
							
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Message is required">
							<span class="label-input100">Views about TFF'19.</span>
							<textarea class="input100" name="data[message]" id="message" placeholder="Your Comment..."></textarea>
							<span class="focus-input100"></span>
						</div>

						<div class="container-contact100-form-btn">
							<button class="contact100-form-btn" id="submit">
								<span>
									Submit
									<i class="fa fa-long-arrow-right m-l-7"  aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<!--===============================================================================================-->
	<script src="js/recruit.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
</body>
</html>
