 #container {
	width: 560px;
	margin: 300px auto;
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

body{
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to right top, #5433FF, #20BDFF, #A5FECB);

}
ol{
	text-align: left;
	list-style-type: disc;
	display: inline;
	font-family: 'Lato', sans-serif;
	
}
li {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a{
	margin-left: 10px;
	margin-bottom: 20px;
}
img{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 20%;
	left: 50%;
		/* bring your own prefixes */
	transform: translate(-50%, -50%);

}
p{
	font-family: 'Proza Libre', sans-serif;
}