*{
	margin: 0px;
	padding: 0px;;
}
html, body {
	height: 100%;
	 
 } 
 .main{
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	width: 560px;
	position: fixed;
    left: 50%;
    transform: translateX(-50%);
	
}

body{
	background-image: linear-gradient(to right top, #5433FF, #20BDFF, #A5FECB);

}
ol{
	text-align: left;
	list-style-type: disc;
	display: inline;
	font-family: 'Lato', sans-serif;

}
li {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a{
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: -10px;
}
img{
	width: 200px;
	height: 200px;
	background-attachment: fixed;
	background-position: center; 
	margin: auto;
}
p{
	font-size: 2.0rem;
	font-family: 'Proza Libre', sans-serif;
}
form{
	padding: 48px;
}
@media screen and (max-width:900px){
	.main{
		width: 80%;
		
	}
	form{
		padding: 40px;
	}
	
}
@media screen and (max-width:500px){
	.main{
		width: 100%;
		
	}
	form{
		padding: 25px;
	}
	
}
