#container {
	width: 560px;
	margin: 300px auto;
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

body{
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to right top, #5433FF, #20BDFF, #A5FECB);

}

ol{
	text-align: left;
	list-style-type: disc;
	display: inline;
	font-family: 'Lato', sans-serif;
	
}
li {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
p{
    font-family: 'Proza Libre', sans-serif;
    display: inline-block;
}

.red{
    color: red;
}
.green{
    color: green;
}