*{
	margin: 0px;
	padding: 0px;;
}
html, body {
   height: 100%;    
}

.main {
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	width: 560px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    background-image: url("view_bg.jpg") ;
    /* max-width: 100%; */
    
}
ol{
	text-align: left;
	list-style-type: disc;
	display: inline;
	font-family: 'Lato', sans-serif;
}
li {
    display: flex;
    justify-content:space-between;
    align-items: center;
    line-height: 1.7;
}
#heading{
    font-family: 'Proza Libre', sans-serif;
    display: inline-block;
    font-weight: 700;
    line-height: 2.5 ;
    font-size: 2rem;
    margin-bottom: 0px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
}

@media screen and (max-width:900px){
    .main{
        width: 80%;
        
    }
    #heading{
        font-size: 1.8rem;
    }
    
    
}
@media screen and (max-width:560px){
    .main{
        width: 100%;
    }
    #heading{
        font-size: 1.6rem;
    }
    span{
        font-size: smaller;
    }
    
}